@font-face {
    font-family: 'Arizona-regular';
    /*a name to be used later*/
    src: url('src/font/Arizonia-Regular.ttf');
    /*URL to font*/
}

@font-face {
    font-family: 'Poppins-bold';
    /*a name to be used later*/
    src: url('src/font/poppins/Poppins-Bold.ttf');
    /*URL to font*/
}

@font-face {
    font-family: 'Poppins-regular';
    /*a name to be used later*/
    src: url('src/font/poppins/Poppins-Regular.ttf');
    /*URL to font*/
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.titulo {
    font-family: 'Arizona-Regular';
    font-size: 60pt;
    color: #fff;
    text-shadow: 5px 5px 10px black;
}

.navbar-brand-text {
    line-height: normal;
    margin-left: 10px;
    position: relative;
    bottom: 5px;
}

.navbar-brand-text small {
    display: block;
    font-size: 10px;
    line-height: 1;
    text-transform: uppercase;
}

.navbar .dropdown-menu {
    background: #fff;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    border: 0;
    display: inherit;
    opacity: 0;
    min-width: 9rem;
    margin-top: 20px;
    padding: 13px 0 10px 0;
    transition: all 0.3s;
    pointer-events: none;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
}

.navbar-toggler {
    border: 0;
    padding: 0;
    cursor: pointer;
    margin: 0;
    width: 30px;
    height: 35px;
    outline: none;
}

.navbar-toggler .navbar-toggler-icon {
    background: #fff;
    transition: background 10ms 300ms ease;
    display: block;
    width: 30px;
    height: 2px;
    position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: #fff;
  width: 30px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}

.card {
    backdrop-filter: blur(8px);
    color: #fff;
    background-color: #3d5b4096;
    
}

.btn-success {
    background-color: #3d5b40;
}

.borda {
    border-width: medium;
    border-style: solid;
    border-color: #00f;
}

.borda2 {
    border-width: medium;
    border-style: solid;
    border-color: rgb(255, 0, 0);
}

body,
html {
    height: 100%;
    display: grid;
}

.center-me {
    margin: auto;
}